body {
  background-color: rgb(250, 250, 236);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  margin: 0;
  min-height: 100vh;
}

/* navigation */

.vertical-menu {
  background-color: #4b86cb;
  width: 200px;
  height: 96%;
}

.vertical-menu a {
  color: black;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4caf50;
  color: white;
}

.white {
  color: white;
}

nav h2 {
  background-color: #4b86cb;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid white;
  margin-bottom: -1px;
}

main {
  display: flex;
  margin: 0px 30px;
}

/* content 1 = profile */

.content1 {
  width: 60%;
  /* background-color: yellow; */
  margin: 20px 30px;
  z-index: -1;
  text-align: center;
  align-items: center;
}

.background {
  position: relative;
  height: 150px;
  background-image: url(img/animal-crossing-wallpaper.original.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-bottom: 8px solid #4b86cb;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.background::before {
  content: "";
  position: absolute;
  background-image: url(img/gif1.gif);
  background-repeat: no-repeat;
  background-size: 100% 150%;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 120%;
  border-radius: 50%;
}

.background::after {
  content: "";
  position: absolute;
  top: 23%;
  left: 23%;
  width: 50%;
  height: 120%;
  border-radius: 50%;
  border: 10px solid #4b86cb;
  z-index: -1;
}

.filling {
  height: 60px;
}

.textblock {
  margin: auto;
  width: 50%;
}

.textblock h1 {
  margin-bottom: 10px;
}

.icons {
  top: 45px;
  border-top: 1px solid #4b86cb;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  z-index: 1;
}

/* content 2 = personal, language, frame */

.content2 {
  width: 100%;
  /* background-color:lightgray; */
  padding: 0px 30px;
}

h3 {
  background-color: #4b86cb;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
  padding: 10px 20px;
}

/* personal */

#lijn {
  border-bottom: 1px solid #4b86cb;
  padding-left: 5px;
}

/* languages */

.languages {
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-self: start;
}

.languages .box {
  width: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.star {
  font-size: 25px;
  letter-spacing: 3px;
  line-height: 50px;
  color: orange;
}

.black {
  color: black;
}

.blue {
  color: #4b86cb;
  font-size: 40px;
}

/* page 2 */

.members {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.table1 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

.table1 td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

.table1 tr:nth-child(even) {
  background-color: #a0aec0;
}

/* additional information */

form {
  margin-left: 10%;
  margin-bottom: 10%;
}

input[type="text"] {
  width: 100%;
  height: 35px;
  background-color: #c5deea;
  border: none;
  border-radius: 10px;
}

label {
  margin: 5px;
  display: inline-block;
}
